:root {
    --background-color: #f5f2fe;
    --background-ukr: #fce100;
    --background-blueblue: #0078d7;
  }
  
  html {
    scroll-behavior: smooth;
  }
  .fix-top {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1030;
  }
  
  .name {
    font-size: 76px;
  }

  .h2 {
    font-size: 36px;
    opacity: 0.8;
  }

  .blog {
    font-weight: 600;
  }

  footer {
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 5px;
  }

  .messeg{
    display: block;
    text-align: center;
    border-bottom: 2px solid black;
  }
  .contact-block {
    padding: 5px;
    display: flex;
    justify-content:space-evenly;
    border-radius: 5px;
 }
  
 i {
  font-size: 24px;
  transition: ease-in-out 280ms;
  color: black;
 }

 i:hover {
  font-size: 28px;
  color: black;
  background-color:  yellow;
  border-radius: 5px;
  padding: 5px;
 }

/* carousel*/
.carousel-container {
  margin: 30px 0px 0px 0px;
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 64px;
}
.prev {
  position: absolute;
    left: 0;
}

.next {
  position: absolute;
    right: 0;
}
/*.item__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 90px;
  max-width: fit-content;
}*/

.items__card {
  padding: 30px 0px 0px 0px;
  margin: 10px;
  text-align: center;
  background: #fafafa;
  border-radius: 9px;
  transition: all 0.3s;
}


.card_item__title {
  margin-bottom: 29px;
  display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.item__img img {
  width: auto;
  max-width: 100%;
  
}

.items__content {
  padding: 21px 30px;
}

.carousel-wrapper {
  overflow: hidden;
}

.carousel {
  display: flex;
  left: -990px;
  position: relative;
  
}

.item,
.item__wrapper {
  width: 990px;
  margin: 0px 10px 0px 10px;
}
@keyframes move-right {
  from {
    left: -990px;
  }
  to {
    left: -1980px;
  }
}

.transition-right {
  animation-name: move-right;
  animation-duration: 1s;
}

@keyframes move-left {
  from {left: -990px;}
  to {left: 0px;}
}

.transition-left {
  animation-name: move-left;
  animation-duration: 2s;
}


@media (max-width:1199px) {

  .carousel {
    display: flex;
    left: -990px;
    position: relative;
    
  }
  
  .item,
  .item__wrapper {
    width: 910px;
    margin: 0px 10px 0px 10px;
  }
  @keyframes move-right {
    from {
      left: -910px;
    }
    to {
      left: -1910px;
    }
  }
  
  .transition-right {
    animation-name: move-right;
    animation-duration: 1s;
  }
  
  @keyframes move-left {
    from {left: -910px;}
    to {left: 0px;}
  }
  
  .transition-left {
    animation-name: move-left;
    animation-duration: 2s;
  }
  
}

@media (max-width:989px) {

.name {
  font-size: 38px;
}

.description-text {
  text-align: justify;
  width: 440px;
  margin: 0 auto;
}

.item-link {
  margin: 20px 0px 0px 0px;
}

  .carousel {
    display: flex;
    left: -990px;
    position: relative;
    
  }
  
  .item,
  .item__wrapper {
    width: 833px;
    margin: 0px 10px 0px 10px;
  }
  @keyframes move-right {
    from {
      left: -833px;
    }
    to {
      left: -1833px;
    }
  }
  
  .transition-right {
    animation-name: move-right;
    animation-duration: 1s;
  }
  
  @keyframes move-left {
    from {left: -833px;}
    to {left: 0px;}
  }
  
  .transition-left {
    animation-name: move-left;
    animation-duration: 2s;
  }
  
}


@media (max-width:765px) {
  .name {
    font-size: 32px;
  }
  
  .description-text {
    text-align: justify;
    width: 380px;
    margin: 0 auto;
    padding: 0px 10px 0px 10px;
  }

  .item__img img {
    width: 320px;
    margin: 0;
  }

  .carousel {
    display: flex;
    left: -672px;
    position: relative;
    
  }
  
  .item,
  .item__wrapper {
    width: 550px;
    
  }
  @keyframes move-right {
    from {
      left: -672px;
    }
    to {
      left: -1250px;
    }
  }
  
  .transition-right {
    animation-name: move-right;
    animation-duration: 1s;
  }
  
  @keyframes move-left {
    from {left: -672px;}
    to {left: 0px;}
  }
  
  .transition-left {
    animation-name: move-left;
    animation-duration: 1s;
  }
  
}


  @media (max-width:537px){
    .name {
      font-size: 32px;
      text-align: center;
    }
  
    .h2 {
      font-size: 22px;
      text-align: center;
    }

    .blog {
      font-size: 16px;
      padding: 0px 20px 0px 20px;
      text-align: justify;

    }
    .blog-content {
      justify-content: center;
    }

    .photo-alexey {
      width: 500px;

    }


    footer {
      margin-top: 150px;
    }

    .wrapper {
      padding: 0;
    }
    .buttons {
      position: absolute;
      top: 550px;
    }

    .btn {
      top: 550px
    }
    .next {
     
      width: fit-content;
    }

    .items__card {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }
    .item__img {
      width: 320px;
      margin: 0 auto;

    }

    .items__content{
      max-width: 320px;
      margin: 0 auto;
      padding: 20px 0px 0px 0px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

    }
    .description-text {
      font-size: 14px;
    }

    .carousel {
        left: -672px;
    }
    
    .item,
    .item__wrapper {
      width: 604px;
      margin: 0px 0px 0px 0px;
    }

    @keyframes move-right {
      from {
        left: -672px;
      }
      to {
        left: -1240px;
      }
    }
    
    .transition-right {
      animation-name: move-right;
      animation-duration: 1s;
    }
    
    @keyframes move-left {
      from {left: -530px;}
      to {left: 0px;}
    }
    
    .transition-left {
      animation-name: move-left;
      animation-duration: 1s;
    }
  }

  @media (max-width:489px) {

    .carousel {
        left: -672px;
    }
    .item__img  {
      width: 270px;
    }

    .item,
    .item__wrapper {
      width: 568px;
      margin: 0px 0px 0px 0px;
    }

    @keyframes move-right {
      from {
        left: -672px;
      }
      to {
        left: -1240px;
      }
    }
    
    .transition-right {
      animation-name: move-right;
      animation-duration: 1s;
    }
    
    @keyframes move-left {
      from {left: -568px;}
      to {left: 0px;}
    }
    
    .transition-left {
      animation-name: move-left;
      animation-duration: 1s;
    }

  }
  


  @media (max-width:478px) {

    .description-text {
      width: 270px;

    }

    .item__img {
      width: 270px;
    }

    .carousel {
        left: -672px;
    }
    
    .item,
    .item__wrapper {
      width: 568px;
      margin: 0px 0px 0px 0px;
    }

    @keyframes move-right {
      from {
        left: -672px;
      }
      to {
        left: -1240px;
      }
    }
    
    .transition-right {
      animation-name: move-right;
      animation-duration: 1s;
    }
    
    @keyframes move-left {
      from {left: -568px;}
      to {left: 0px;}
    }
    
    .transition-left {
      animation-name: move-left;
      animation-duration: 1s;
    }

  }
  
  @media (max-width:430px) {

    .blog {
      text-align: start;
    }

    .carousel {
        left: -672px;
    }
    .item__img {
      width: 270px;
    }

    .description-text {
      width: 270px;
    }

    .item,
    .item__wrapper {
      width: 556px;
      margin: 0px 0px 0px 0px;
    }

    @keyframes move-right {
      from {
        left: -672px;
      }
      to {
        left: -1240px;
      }
    }
    
    .transition-right {
      animation-name: move-right;
      animation-duration: 1s;
    }
    
    @keyframes move-left {
      from {left: -542px;}
      to {left: 0px;}
    }
    
    .transition-left {
      animation-name: move-left;
      animation-duration: 1s;
    }

  }

  @media (max-width:365px) {

    .name {
      font-size: 24px;
     
    }

    .h2 {
      font-size: 18px;
      
    }

    .blog {
        
    font-size: 14px;
    text-align: inherit;
    }

    .item__img {
      width: 220px;
    }

    .h5-text {
      font-size: 16px;
      font-weight: 600;
    }    
  
    .type-work {
      font-size: 12px;
    }

    .description-text {
      font-size: 12px;
      width: 220px;
    }

    .btn {
      top: 495px;
    }

    .carousel {
        left: -672px;
    }
    
    .item,
    .item__wrapper {
      width: 531px;
      margin: 0px 0px 0px 0px;
    }

    @keyframes move-right {
      from {
        left: -672px;
      }
      to {
        left: -1200px;
      }
    }
    
    .transition-right {
      animation-name: move-right;
      animation-duration: 1s;
    }
    
    @keyframes move-left {
      from {left: -531px;}
      to {left: 0px;}
    }
    
    .transition-left {
      animation-name: move-left;
      animation-duration: 1s;
    }

  }


  @media (max-width:320px) {

    
    .description-text {
      width: 220px;
    }

    .item__img {
      width: 220px;
    }
    
    .carousel {
      left: -672px;
  }
  
  .item,
  .item__wrapper {
    width: 526px;
    margin: 0px 0px 0px 0px;
  }

  @keyframes move-right {
    from {
      left: -526px;
    }
    to {
      left: -1232px;
    }
  }
  
  .transition-right {
    animation-name: move-right;
    animation-duration: 1s;
  }
  
  @keyframes move-left {
    from {left: -526px;}
    to {left: 0px;}
  }
  
  .transition-left {
    animation-name: move-left;
    animation-duration: 1s;
  }
  }